
/* Theme color */
$brandcolor:#ff3636;
$black:#000000;
$black2:#333;
$bgcolor:#ECF2FE;
$primary:#4375E7;
$title:#142137;

/* Common Color */ 
$description: #0F0F0B;

/* 
1. Template default CSS
2. Header style
3. Header Menu CSS
4. Banner CSS
5. About Us CSS Start
6. Services CSS Start
7. Video CSS Start
8. Video Single Service CSS Start
9. Pricing CSS Start
10. Happy Customer CSS Start

*/