

.breadcrumb-area {
	padding-top: 130px;
	padding-bottom: 130px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
}


.breadcrumb-title h2 {
  color: #fff;
}
.bre-menu-list {
  display: flex;
  gap: 10px;
}
.bre-menu-list a {
  color: #fff;
  text-transform: capitalize;
}

.bre-menu-list a .circle {
  font-size: 8px;
}
.bre-menu-list a i {
  margin-right: 10px;
}




/* Blog single CSS Start */

.blog-main {
	display: flex;
	flex-direction: column;
	gap: 45px;
}

.blog-single {
  background-color: #EBEFF3;
}
.blog-single-content {
  padding: 40px 100px 60px 40px;
}
.blog-single-content h2 {
  font-size: 25px;
}
.blog-single-content p {
  font-size: 16px;
  padding-bottom: 60px;
}


.blog-details-btn {
	font-size: 15px;
	text-transform: capitalize;
	background-color: #142137;
	color: #fff;
	border-radius: 39px;
	padding: 14px 0px;
	padding-left: 22px;
	padding-right: 10px;
}
.blog-details-btn i {
	margin-left: 10px;
	background-color: #fff;
	color: #000;
	padding: 9px;
	border-radius: 50%;
}



.author-info img {
  width: 54px;
  height: 54px;
  border-radius: 7px;
}
.author-info span {
  font-size: 14px;
  margin-left: 9px;
}
.blog-author-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.post-meta a {
  font-size: 12px;
  margin-left: 7px;
}
.post-meta a img {
  width: 15px;
  margin-right: 11px;
}

.quote-blog-single-content{
    padding: 40px 100px 60px 40px;
}


.quote {
  text-align: center;
}
.quote img {
  padding-bottom: 20px;
}
.blog-single.quote p {
  padding-bottom: 20px;
}
.quote h4 {
  font-size: 16px;
}



/* Blog details video CSS Start */
.video-image {
	height: 459px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 
.video-image img {
	width: 20px;
}
.video-icon {
	background-color: #fff;
	border-radius: 50%;
	padding: 20px 23px;
}


.slider-imagess {
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
}


.test-container {
	background-color: tomato;
}

.test2-container {
	background-color: green;
}


/* Blog slider post arrow CSS Start */

.blog-slider .slick-prev {
	position: absolute;
	z-index: 5;
	left: 30px;
	top: 50%;
	border: 0;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.blog-slider .slick-prev:hover{
  background-color: #4375E7;
  color: #fff;
}

.blog-slider .slick-next {
	position: absolute;
	z-index: 5;
	right: 30px;
	top: 50%;
  border: 0;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.blog-slider .slick-next:hover{
  background-color: #4375E7;
  color: #fff;
}


/* Blog Sidebar CSS Start */ 


.blog-search {
  background-color: #EBEFF3;
  padding: 20px 16px;
}
.blog-search h3 {
  text-transform: capitalize;
  font-size: 18px;
  padding-bottom: 20px;
}
.blog-search input {
  border: 1px solid #ddd;
  padding: 8px;
  width: 100%;
}

.form button {
  border: 0;
  padding: 9px 12px;
  background-color: #4375E7;
  color: #fff;
  position: absolute;
  margin-left: -38px;
}







