/* Theme color */
/* Common Color */
/* 
1. Template default CSS
2. Header style
3. Header Menu CSS
4. Banner CSS
5. About Us CSS Start
6. Services CSS Start
7. Video CSS Start
8. Video Single Service CSS Start
9. Pricing CSS Start
10. Happy Customer CSS Start
11. Blog Area CSS Start

*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  transition: 0.3s;
}

/* Banner Background overlay color */
.overlay-bg {
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 2;
}
.overlay-bg:before {
  position: absolute;
  content: "";
  background-color: #333;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Banner Button CSS */
.btn {
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.btn.btn-box {
  background-color: #ff3636;
}
.btn:hover {
  background-color: #333;
  transition: 0.3s;
}

/* Section Title */
.title-section {
  text-align: center;
}
.title-section h4 {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  border: 1px solid #ddd;
  display: inline-block;
  padding: 4px 40px;
  position: relative;
  margin-bottom: 34px;
}
.title-section h4::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #142137;
  border-radius: 50%;
  transform: translateX(-50%);
  left: 26px;
  top: 15px;
  display: block;
}
.title-section h2 {
  font-size: 54px;
  font-weight: 600;
  line-height: 64px;
  max-width: 839px;
  margin: 0 auto;
}

/* Flex CSS */
.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

/* Justify CSS */
.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

/* align-items CSS */
.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* Theme Custom Heading */
h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  line-height: 75px;
  font-weight: 800;
}

h3 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

h4 {
  font-size: 40px;
  line-height: 28px;
  font-weight: 600;
}

p {
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
}

span {
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
}

/* Theme Custom Padding */
.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

/* Theme color */
/* Common Color */
/* 
1. Template default CSS
2. Header style
3. Header Menu CSS
4. Banner CSS
5. About Us CSS Start
6. Services CSS Start
7. Video CSS Start
8. Video Single Service CSS Start
9. Pricing CSS Start
10. Happy Customer CSS Start
11. Blog Area CSS Start

*/
.container {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

/* Medium Devices 540px - 576px */
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .col {
    width: 100%;
  }
}
/* Medium Devices 540px - 576px */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
  .justify-sm-center {
    justify-content: center;
  }
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-sm-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-sm-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-sm-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-sm-12 {
    width: 100%;
    padding: 0 15px;
  }
}
/* Medium Devices 720px - 768px */
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
  .justify-md-end {
    justify-content: flex-end;
  }
  .col-md-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-md-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-md-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-md-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-md-12 {
    width: 100%;
    padding: 0 15px;
  }
}
/* Large Devices 960px - 992px */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .col-lg-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-lg-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-lg-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-lg-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-lg-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-lg-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-lg-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-lg-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-lg-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-lg-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-lg-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-lg-12 {
    width: 100%;
    padding: 0 15px;
  }
}
/* Tablet Devices 1140px 1200px*/
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .col-xl-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-xl-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-xl-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-xl-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-xl-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-xl-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-xl-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-xl-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-xl-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-xl-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-xl-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-xl-12 {
    width: 100%;
    padding: 0 15px;
  }
}
/* Desktop Devices 1320px */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-12 {
    width: 100%;
    padding: 0 15px;
  }
}
/* Responsive Mixing */
.header-top-area {
  background-color: #4375E7;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px !important;
  color: #fff;
  padding: 14px 0px;
}
.header-top-area .header-top-social {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.header-top-area .header-top-social i {
  color: #fff;
  font-size: 15px;
  margin-left: 10px;
}
.header-top-area .header-top-social .header-top-social-text {
  font-size: 15px;
  text-transform: capitalize;
}
.header-top-area .header-top-address {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: end;
}
.header-top-area .header-top-address .signle-address .map-title {
  font-size: 15px;
  margin-left: 3px;
}

/* 
    4. Banner CSS
*/
.header-middle {
  padding: 34px 0px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.header-middle .menu-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.header-middle .menu-list a {
  text-transform: capitalize;
}
.header-middle .header-button span {
  font-size: 16px;
  text-transform: capitalize;
  border: 1px solid #ddd;
  padding: 16px 30px;
}

.banner-content {
  padding-top: 330px;
  padding-bottom: 330px;
}

.single-banner {
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.footer-area {
  background-color: #142137;
  color: #fff;
}

.footer-top {
  padding-top: 127px;
  padding-bottom: 90px;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  padding-top: 35px;
  border-top: 1px solid rgba(221, 221, 221, 0.1294117647);
  padding-bottom: 35px;
  align-items: center;
}

.footer-description {
  color: #AEB2BA;
}

.footer-list a {
  color: #AEB2BA;
}

.footer-list {
  display: flex;
  gap: 33px;
}

.description {
  font-size: 14px;
  line-height: 26px;
  margin-top: 28px;
}

.footer-menu {
  margin-top: 42px;
}

.single-address span {
  font-size: 14px;
  display: block;
  color: #4375E7;
  text-transform: capitalize;
}

.single-address {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.single-address img {
  width: 18px;
  height: 18px;
}

.address-text {
  font-weight: 800;
  color: #fff !important;
}

.footer-address {
  margin-top: 30px;
}

.widget-title {
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 500;
}

.footer-menu-list a {
  color: rgba(255, 255, 255, 0.5882352941);
  font-size: 13px;
  text-transform: capitalize;
}

.footer-form {
  margin-top: 24px;
}

.footer-form input {
  padding: 11px;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(221, 221, 221, 0.631372549);
  width: 100%;
  position: relative;
}

.footer-form .footer-btn {
  position: absolute;
  background-color: #4375E7;
  padding: 8px 16px;
  border: none;
  margin-left: -101px;
  margin-top: 4px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
}

.news-des {
  margin-top: 39px;
}

.social-list {
  display: flex;
  gap: 20px;
}

.footer-social {
  margin-top: 30px;
}

.social-list li a i {
  border: 1px solid rgba(221, 221, 221, 0.1215686275);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  transition: 0.3s;
}

.social-list li a i:hover {
  background-color: #4375E7;
  transition: 0.3s;
}

.footer-menu-item {
  padding: 6px 0px;
}

.about-btn-round {
  text-transform: capitalize;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 100px;
  padding: 4px 29px;
  position: relative;
  color: #5B6473;
}

.about-btn-round:before {
  position: absolute;
  content: "";
  background-color: #142137;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 15px;
  top: 9px;
  transform: translateX(-50%);
}

.about h2 {
  margin-top: 20px;
}

.about p {
  margin-top: 20px;
  margin-bottom: 50px;
}

.about-btn {
  border: 1px solid #ddd;
  width: 211px;
  padding: 13px 0px;
  text-align: center;
}

.about-counter {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.single-counter {
  border: 1px solid #ddd !important;
  text-align: center;
  padding: 30px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  line-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-counter span {
  font-size: 50px;
  font-weight: 700;
  display: block;
  color: #142137;
}

.counter-title {
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 18px !important;
  margin-top: 20px;
}

.delivery-info {
  padding-top: 100px;
}

.delivery-content {
  background-color: tomato;
  height: 100%;
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.delivery-info-left {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  height: 450px;
}

.delivery-experience {
  height: 100%;
  justify-content: flex-end;
}

.experience-title {
  background-color: #fff;
  z-index: 5;
  width: 349px;
  height: 287px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-left: 27px;
  padding: 20px;
}

.expe-title {
  font-size: 193px;
}

.experience-title span {
  font-size: 16px;
  text-transform: capitalize;
}

.experience-des {
  margin-top: -87px;
}

/*
    6. Services CSS Start
*/
.service-area {
  background-color: #ECF2FE;
}
.service-area .service-title-area {
  text-align: center;
}
.service-area .service-title-area .service-sub-title {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  border: 1px solid #ddd;
  display: inline-block;
  padding: 4px 40px;
  position: relative;
  margin-bottom: 34px;
}
.service-area .service-title-area .service-sub-title::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #142137;
  border-radius: 50%;
  transform: translateX(-50%);
  left: 26px;
  top: 15px;
  display: block;
}
.service-area .service-title-area h2 {
  font-size: 54px;
  font-weight: 600;
  line-height: 64px;
  max-width: 714px;
  margin: 0 auto;
}
.service-area .single-service-area { /* single service start */
  padding-top: 60px;
}
.service-area .single-service-area .service-border {
  border-right: 1px solid #ddd;
}
.service-area .single-service-area .single-service h4 {
  font-size: 26px;
  font-weight: 600;
  margin-top: 40px;
}
.service-area .single-service-area .single-service:hover h4 {
  color: #4375E7;
}
.service-area .single-service-area .single-service p {
  font-size: 16px;
  margin: 40px 0px;
}
.service-area .single-service-area .single-service a {
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
}
.service-area .single-service-area .single-service a i {
  margin-left: 10px;
}
.service-area .single-service-area .single-service .service-image {
  opacity: 0;
  transition: 0.3s;
}
.service-area .single-service-area .single-service .service-btn {
  transition: 0.3s;
}
.service-area .single-service-area .single-service:hover .service-btn {
  opacity: 0;
  transition: 0.3s;
}
.service-area .single-service-area .single-service:hover .service-image {
  opacity: 1;
  transition: 0.3s;
}

.video-area { /* Video CSS Start */ }
.video-area .video-title {
  text-align: center;
}
.video-area .video-title h2 {
  font-size: 54px;
  font-weight: 600;
  line-height: 64px;
  padding-bottom: 34px;
  text-transform: capitalize;
}
.video-area .video {
  margin-top: 70px;
  width: 1290px;
  height: 670px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video-service { /* Video Single Service CSS Start */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}
.video-service .single-video-service {
  text-align: center;
}
.video-service .single-video-service h4 {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 600;
}
.video-service .single-video-service p {
  font-size: 16px;
  max-width: 212px;
  margin: 0 auto;
  padding-top: 10px;
}
.video-service .single-video-service:nth-child(2n) h4 {
  margin-top: 20px;
}

.price-area { /* 9. Pricing CSS Start */ }
.price-area h2 {
  max-width: 600px;
  margin: 0 auto;
}
.price-area .pricing-list {
  padding-top: 70px;
}
.price-area .pricing-list .single-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-area .pricing-list .single-pricing .pricing-title-area {
  width: 100%;
}
.price-area .pricing-list .single-pricing .pricing-title-area .pricing-title {
  background-color: #ECF2FE;
  padding: 40px 30px 80px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.price-area .pricing-list .single-pricing .pricing-title-area .pricing-title h4 {
  font-size: 20px;
}
.price-area .pricing-list .single-pricing .pricing-title-area .pricing-title img {
  width: 30px;
}
.price-area .pricing-list .single-pricing .pricing-des {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 260px;
  padding: 20px 20px 45px 20px;
  margin-top: -35px;
}
.price-area .pricing-list .single-pricing .pricing-des .price-list .price-item {
  display: flex;
  gap: 7px;
  flex-direction: row;
}
.price-area .pricing-list .single-pricing .pricing-des .price-list .price-item a {
  font-size: 11px;
  line-height: 0;
}
.price-area .pricing-list .single-pricing .pricing-des .price-list .price-item i {
  background-color: #22E17F;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  font-size: 9px;
  color: #fff;
}
.price-area .pricing-button-area .pricing-button h4 {
  text-align: center;
  font-size: 18px;
  max-width: 381px;
  margin: 0 auto;
}
.price-area .pricing-button-area .pricing-button .pricing-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: center;
  margin-top: 34px;
}
.price-area .pricing-button-area .pricing-button .pricing-btn .pri-btn-green {
  background-color: #4375E7;
  padding: 8px 20px;
  color: #fff;
  font-size: 14px;
}
.price-area .pricing-button-area .pricing-button .pricing-btn .pri-btn-black {
  background-color: #000 !important;
  padding: 8px 20px;
  color: #fff;
  font-size: 14px;
}

.happy-customer-area {
  background-color: #ECF2FE;
}

.blog-area { /* 11. Blog Area CSS Start */ }
.blog-area .blog-title {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.blog-area .blog-title .title-section {
  text-align: left;
}
.blog-area .blog-title .title-section h2 {
  font-size: 54px;
  font-weight: 600;
  line-height: 64px;
  max-width: 809px;
  margin: initial !important;
}
.blog-area .blog-title .blog-btn {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.blog-area .blog-title .blog-btn .button-text {
  font-size: 15px;
  border: 1px solid #ddd;
  padding: 8px 30px;
}
.blog-area .blog-single-area .single-blog .blog-image {
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 254px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.blog-area .blog-single-area .single-blog .blog-image .blog-cat {
  font-size: 13px;
  background-color: #4375E7;
  display: inline-block;
  padding: 0px 9px;
  color: #fff;
  text-transform: capitalize;
}
.blog-area .blog-single-area .single-blog .blog-post-title h2 {
  font-size: 16px;
  line-height: 25px;
  padding-top: 5px;
}
.blog-area .blog-single-area .single-blog .blog-post-title .blog-comment-info {
  display: flex;
  gap: 25px;
  padding: 5px 0px;
  border-bottom: 1px solid #ddd;
}
.blog-area .blog-single-area .single-blog .blog-post-title .blog-comment-info .blog-date span {
  font-size: 11px;
}
.blog-area .blog-single-area .single-blog .blog-post-title .blog-comment-info .blog-date i {
  font-size: 12px;
}
.blog-area .blog-single-area .single-blog .blog-post-title .blog-comment-info .blog-comment span {
  font-size: 12px;
}
.blog-area .blog-single-area .single-blog .blog-post-title .blog-comment-info .blog-comment img {
  width: 12px;
}/*# sourceMappingURL=style.css.map */