



.about-btn-round {
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 100px;
    padding: 4px 29px;
    position: relative;
    color: #5B6473;
  }
  .about-btn-round:before {
    position: absolute;
    content: "";
    background-color: #142137;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: 15px;
    top: 9px;
    transform: translateX(-50%);
  }


  
.about h2 {
    margin-top: 20px;
  }
  .about p {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .about-btn {
    border: 1px solid #ddd;
    width: 211px;
    padding: 13px 0px;
    text-align: center;
  }

  
.about-counter {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    margin-bottom: -50px;
  }
  .single-counter {
    border: 1px solid #ddd !important;
    text-align: center;
    padding: 30px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    line-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .single-counter span {
    font-size: 50px;
    font-weight: 700;
    display: block;
    color: #142137;
  }
  .counter-title {
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 18px !important;
    margin-top: 20px;
  }




  .delivery-info {
    padding-top: 100px;
  }
  
// .delivery-content {
//   background-color: tomato;
//   height: 100%;
//   width: 390px;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
// }
// .delivery-info-left {
//   object-fit: cover;
//   background-size: cover;
//   background-position: center;
//   height: 450px;
// }

// .delivery-experience {
// 	height: 100%;
// 	justify-content: flex-end;
// }

// .experience-title {
// 	background-color: #fff;
// 	z-index: 5;
// 	width: 349px;
// 	height: 287px;
// 	display: flex;
// 	flex-direction: row;
// 	align-items: center;
// 	gap: 20px;
// 	justify-content: center;
// 	margin-left: 27px;
// 	padding: 20px;
// }
// .expe-title {
//   font-size: 193px;
// }
// .experience-title span {
//   font-size: 16px;
//   text-transform: capitalize;
// }

// .experience-des {
// 	margin-top: -87px;
// }





.about-counter-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}



.delivery-info-left {
  background-size: cover;
  background-position: center;
  width: 390px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  position: relative;
}
.experience-title {
  height: 235px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 44px;
  z-index: 5;
  position: absolute;
  margin-left: 180px;
  width: 354px;
}
.expe-title {
  font-size: 200px;
  font-weight: 600;
}
.experience-des span {
  font-size: 15px;
  text-transform: capitalize;
  line-height: 0px;
}

.deivery-info-right {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.deivery-info-right img {
  height: 330px;
}