

.banner-content {
  padding-top: 250px;
  padding-bottom:250px;
}
.single-banner {
  background-size: cover;
  object-fit: cover;
  background-position: center;
}




.banner-btn-1 a {
  font-size: 14px;
  background-color: #4B5666;
  padding: 5px 22px;
  color: #fff;
  position: relative;
}

.banner-btn-1 a:before {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #fff;
  content: "";
  top: 46%;
  left: 11px;
  transform: translateX(-50%);
  border-radius: 50%;
}
.banner-content h2 {
  color: #fff;
  font-size: 78px;
  line-height: 90px;
  max-width: 946px;
  margin-top: 44px;
}
.banner-content p {
  font-size: 16px;
  color: #ffffff9c;
  max-width: 739px;
  line-height: 27px;
  padding-top: 30px;
}

.button-2 {
  color: #fff;
  background-color: #4375E7;
  padding: 11px 17px;
  font-size: 14px;
}

.banner-btn-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 34px;
  padding-top: 60px;
}
.banner-rating {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.rating-image {
	display: flex;
	flex-direction: row;
}

.rating-image-2 {
  margin-left: -22px;
}
.rating-image-3 {
  margin-left: -22px;
}
.rating-image-4 {
  margin-left: -22px;
}
.rating-title span {
  color: #fff;
  font-size: 16px;
}
.rating-icon i {
  color: #FFB100;
}




.banner-area  .slick-arrow.slick-prev {
	right: 50px;
  margin-top: 70px;
}
.banner-area .slick-arrow.slick-next {
	right: 50px;
}

.banner-area .slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border: 0;
	width: 50px;
	height: 50px;
	line-height: 58px;
	z-index: 2;
	transition: 0.3s;
	cursor: pointer;
  border-radius: 50%;
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.2px);
-webkit-backdrop-filter: blur(1.2px);
}


.banner-area .slick-arrow:hover {
	background-color: #4375E7;
	border: 1px solid #4375E7;
}

.banner-area .slick-arrow.slick-next i {
	color: #fff !important;
}

.banner-area .slick-arrow.slick-prev i {
	color: #fff !important;
}