

.blog-area{ /* 11. Blog Area CSS Start */
    .blog-title{
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        .title-section{
            text-align: left;
            & h2 {
                font-size: 54px;
                font-weight: 600;
                line-height: 64px;
                max-width: 809px;
                margin: initial !important;
            }
        }
        .blog-btn{
            height: 100%;
            display: flex;
            align-items: flex-end;
            .button-text {
                font-size: 15px;
                border: 1px solid #ddd;
                padding: 8px 30px;
            }
        } 
    }
    .blog-single-area {
        .single-blog{
            .blog-image {
                background-size: cover;
                -o-object-fit: cover;
                object-fit: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 254px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .blog-cat {
                    font-size: 13px;
                    background-color: #4375E7;
                    display: inline-block;
                    padding: 0px 9px;
                    color: #fff;
                    text-transform: capitalize;
                }
            }
            .blog-post-title{
                & h2 {
                    font-size: 16px;
                    line-height: 25px;
                    padding-top: 5px;
                }
                .blog-comment-info {
                display: flex;
                gap: 25px;
                padding: 5px 0px;
                border-bottom: 1px solid #ddd;
                    .blog-date{
                        & span {
                            font-size: 11px;
                        }
                        & i {
                            font-size: 12px;
                        }
                    }
                    .blog-comment{
                        & span {
                            font-size: 12px;
                        }
                        & img {
                            width: 12px;
                        }
                    }
                }
            }
        }
    }
}






















