


.single-cleaning {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 368px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	overflow: hidden;
	object-fit: cover;
}
.cleaning-content {
  background-color: #ECF2FE;
  padding: 20px 20px;
}
.cleaning-title h4 {
  font-size: 16px;
  text-transform: capitalize;
}
.cleaning-title span {
  font-size: 13px;
}
.cleaning-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cle-social-list a i {
	background-color: #fff;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
    font-size: 13px;
}



.cle-social-list a i:hover{
    background-color: #4375E7;
    color: #fff;
}

.cle-social-list a i {
  background-color: #fff;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}

.clea-social {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  margin-bottom: 64px;
  margin-left: -21px;
}
.clea-social-list a i {
  background-color: #fff;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 7px;
  font-size: 13px;
      opacity: 0;
    transition: .3s;
}
.single-cleaning:hover .clea-social-list a i{
    opacity: 1;
    transition: .3s;
}
.clea-social-list a i:hover {
  background-color: #4375E7;
  color: #fff;
}