

.footer-area {
	background-color: #142137;
    color: #fff;
}
.footer-top{
    padding-top: 127px;
	padding-bottom: 127px;
}


.footer-copyright {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding-top: 35px;
    border-top: 1px solid #dddddd21;
    padding-bottom: 35px;
  }
  .footer-description {
    color: #AEB2BA;
  }

  .footer-list a {
    color: #AEB2BA;
  }
  .footer-list {
    display: flex;
    gap: 33px;
  }

  .description{
	font-size: 14px;
	line-height: 26px;
	margin-top: 28px;
}



.single-address span {
  font-size: 14px;
  display: block;
  color: #4375E7;
  text-transform: capitalize;
}
.single-address {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.single-address img {
  width: 18px;
  height: 18px;
}
.address-text {
  font-weight: 800;
  color: #fff !important;
}
.footer-address {
  margin-top: 30px;
}