

.header-top-area {
    background-color: #4375E7;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px !important;
    color: #fff;
    padding: 14px 0px;
    .header-top-social {
        display: flex;
        flex-direction: row;
        gap: 10px;
        & i {
            color: #fff;
            font-size: 15px;
            margin-left: 10px;
        }
        .header-top-social-text {
            font-size: 15px;
            text-transform: capitalize;
        }
    }
    .header-top-address{
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: end;
        .signle-address .map-title {
            font-size: 15px;
            margin-left: 3px;
        }

    }
}









