

.price-area{ /* 9. Pricing CSS Start */
    & h2 {
        max-width: 600px;
        margin: 0 auto;
    }
    .pricing-list {
      padding-top: 70px;
      .single-pricing{
        	display: flex;
          flex-direction: column;
          align-items: center;
      
        .pricing-title-area {
          width: 100%;
            .pricing-title {
            background-color: #ECF2FE;
            padding: 40px 30px 80px 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            & h4 {
              font-size: 20px;
            }
            & img {
              width: 30px;
            }
          }
        }
          
      .pricing-des {
          background-color: #fff;
          border: 1px solid #ddd;
          width: 260px;
          padding: 20px 20px 45px 20px;
          margin-top: -35px;
            .price-list {
              .price-item {
                display: flex;
                gap: 7px;
                flex-direction: row;
                 & a {
                  font-size: 11px;
                   line-height: 0;
                }
                & i {
                  background-color: #22E17F;
                  width: 15px;
                  height: 15px;
                  line-height: 15px;
                  text-align: center;
                  border-radius: 50%;
                  font-size: 9px;
                  color: #fff;
                }
              }
            }
      }
    }
  }
  .pricing-button-area{
    .pricing-button{
      & h4 {
        text-align: center;
        font-size: 18px;
        max-width: 381px;
        margin: 0 auto;
      }
      .pricing-btn {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 20px;
          align-items: center;
        text-align: center;
        margin-top: 34px;
        .pri-btn-green {
          background-color: #4375E7;
          padding: 8px 20px;
          color: #fff;
          font-size: 14px;
        }
        .pri-btn-black {
          background-color: #000 !important;
          padding: 8px 20px;
          color: #fff;
          font-size: 14px;
        }
      }
    }
  }
}
















