
/*
    6. Services CSS Start
*/

.service-area {
	background-color: #ECF2FE;
    .service-title-area {
        text-align: center;
        .service-sub-title {
            font-size: 16px;
            text-transform: capitalize;
            font-weight: 500;
            border: 1px solid #ddd;
            display: inline-block;
            padding: 4px 40px;
            position: relative;
            margin-bottom: 34px;
            &::before {
                position: absolute;
                content: "";
                width: 6px;
                height: 6px;
                background-color: #142137;
                border-radius: 50%;
                transform: translateX(-50%);
                left: 26px;
                top: 15px;
                display: block;
            }
        }
        & h2 {
            font-size: 54px;
            font-weight: 600;
            line-height: 64px;
            max-width: 714px;
            margin: 0 auto;
        }
    }

    /* single service start */
    .single-service-area {
        padding-top: 60px;
        .service-border {
            border-right: 1px solid #ddd;
        }
        .single-service{
            & h4 {
                font-size: 26px;
                font-weight: 600;
                margin-top: 40px;
            }
            &:hover h4 {
                color: #4375E7;
            }
            & p {
                font-size: 16px;
                margin: 40px 0px;
            }
            & a {
                font-weight: 500;
                font-size: 15px;
                text-transform: capitalize;
                & i {
                    margin-left: 10px;
                }
            }
            & .service-image {
                opacity: 0;
                transition: .3s;
            }
            .service-btn{
                transition: .3s;
              }
            &:hover .service-btn {
                opacity: 0;
                transition: .3s;
            }
            &:hover .service-image {
                opacity: 1;
                transition: .3s;
              }
        }
    }

}







  

//   .single-service:hover .service-btn {
// 	opacity: 0;
// 	transition: .3s;
// }

// .single-service:hover h4 {
// 	color: #4375E7;
// }

